---
---

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

* {
    font-family: 'Source Sans Pro', sans-serif;
}

.hero-body {
    background: radial-gradient(ellipse at center, #45484d 0%,#000000 100%);
}

.projects{
    margin: 2em auto;
    .project-card{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .card-header-title{
            font-size: 1.10em;
            font-weight: normal;
        }
    }
}

code{
    background-color: rgba(0, 0, 0, 0.75)
}

.project-modal{
    h1{
        font-size: 1.75em;
        font-weight: bold;
    }
    
    h2{
        font-size: 1.25em;
    }

}


$col1: #e74b4b;
$col2: #fd9e9e;
$col3: #ffffff;
$col4: #1a1414;
$trans: translate(-50%, -50%);
$cubic-1: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$cubic-2: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$grad: linear-gradient(135deg, $col1, $col1);
$shadow: 0 6px 16px darken($col2, 10%);


.card-body{
    margin: 0;
    display: flex;
    background-color: $col4;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.card-container {
    position: absolute;
    width: 75%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    perspective: 1000px;
  
    .tl:hover ~ .card {
      transform: $trans rotateX(25deg) rotateY(-5deg);
    }
  
    .tc:hover ~ .card {
      transform: $trans rotateX(35deg);
    }
  
    .tr:hover ~ .card {
      transform: $trans rotateX(25deg) rotateY(5deg);
    }
  
    .cl:hover ~ .card {
      transform: $trans rotateY(-25deg);
    }
  
    .cr:hover ~ .card {
      transform: $trans rotateY(25deg);
    }
  
    .bl:hover ~ .card {
      transform: $trans rotateX(-25deg) rotateY(-15deg);
    }
  
    .bc:hover ~ .card {
      transform: $trans rotateX(-35deg);
    }
  
    .br:hover ~ .card {
      transform: $trans rotateX(-25deg) rotateY(15deg);
    }


    .card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: $trans;
        perspective: 150rem;
        width: 400px;
        height: 45%;
        cursor: pointer;
        transition: all 500ms $cubic-1;
        background-color: transparent;
      
        .front,
        .back {
          position: absolute;
          margin: auto;
          padding: 2em;
          display: flex;
          width: 100%;
          height: 100%;
          flex-direction: column;
          color: $col3;
          transition: 500ms $cubic-2;
          
          h2 {
            margin: 0;
            text-transform: uppercase;
            font-size: 1.75rem;
          }
          
          h4 {
            margin: .5em 0 1em;
            font-size: 1rem;
            text-align: center;
          }
          
          .links {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
          }
          
          a {
            margin: .25em .5em;
            text-decoration: none;
            font-size: 2rem;
            color: white;      
          }
        }
      
        .front {
          z-index: 1;
          align-items: center;
          background-image: $grad;
          box-shadow: 5px 5px black;
        }
      
        .back {
          align-items: center;
          background-image: $grad;
          transform: rotateY(180deg);
        }
    }
      
    #check {
    display: none;
    
    + label {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: $trans;
        width: 400px;
        height: 240px;
        cursor: pointer;
    }
    
    &:checked + label {
        ~ .card {
        .front {
            z-index: 0;
            box-shadow: none;
            transform: rotateY(-180deg);
        }
        .back {
            box-shadow: 5px 5px black;
            transform: rotateY(0deg);
        }
        }
    }
    }
}

.skills {
    padding: 2em 0;
    margin: auto;
    text-align: center;
    h1 {
        color: black;
        margin-bottom: 1em;
    }
  }
  
#c {
margin: auto;
}


.pentagon {
    width: 300px;
    height: 300px;
    margin: auto;
    padding: 3px 3px 28px 3px;
    display:inline-block;
}
