<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <h1 class="navbar-item is-size-5">Abinav Bukkaraya</h1>
        <div class="navbar-burger burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <a href="" class="navbar-item">Home</a>
            <a href="#projects" class="navbar-item">Projects</a>
        </div>
    </div>
</nav>