---
layout: default
title: Home
---

<section class="intro hero is-medium is-dark is-bold">
    <div class="hero-body">
        <div class="container">
        <h1 class="title"><code>print('Hello World')</code></h1>
        <h2 class="subtitle">
            <code>
            """ I've been programming for a while and creating things that help automate daily tasks.
            I also enjoy learning topics in Web Development, Artificial Intelligence and Machine Learning. Take a look at 
            some of my projects present below, I try my best to come up with cool names. """
            </code>
            
        </h2>
        </div>
    </div>
</section>

<div class="container projects" id="projects">
    <h2 class="is-size-3 has-text-black-bis has-text-centered is-uppercase">Projects</h2>
    <p class="has-text-centered is-size-5">Here are all the projects that I am working on</p>
    <br>
    {% assign num_rows =  site.projects.size | divided_by: 3.0 | ceil %}
    {% assign start_num = 0 %}
    {% for row in (1..num_rows) %}
    <div class="columns">
        {% for project in site.projects limit:3 offset: start_num %}
        <div class="column project-col is-one-third">
            <div class="card project-card">
                <header class="card-header project-header has-background-danger is-size-5">
                    <p class="card-header-title has-text-white">
                    {{ project.title }}
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                    {{ project.description }}
                    </div>
                </div>
                <footer class="card-footer has-background-danger">
                    <a href="{{ project.github_url }}" class="card-footer-item has-text-white">Github Repo</a>
                </footer>
           </div>
           <div class="modal project-modal">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head has-background-info">
                    <p class="modal-card-title has-text-white">{{ project.title }}</p>
                    <button class="modal-close is-large" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                        {{ project | markdownify }}
                    </section>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% assign start_num = start_num | plus: 3 %}
    {% endfor %}
</div>



      

